.kontak {
  text-align: center;
  padding: 80px 5px; /* Reduced padding */
  background-image: url('/img/Background.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin-top: 80px;
  margin-left: -20px;
  height: 400px;
}

.kontak h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

.kontak p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify; /* Justify the text */
  margin: 0 auto;
  max-width: 600px; 
  color: #fff;
  overflow: hidden; /* Ensure no overflow */
  display: -webkit-box; /* For multiline truncation */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items */
  gap: 10px;
  color: #fff;
  margin-top: 10px;
}

.contact-item {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Align items vertically */
  gap: 8px; /* Space between icon and text */
  width: 100%; /* Take full width */
  max-width: 600px; /* Limit width */
  padding: 0 20px; /* Add padding for space */
  
}

.contact-item a {
  display: flex; /* Flex container for link */
  align-items: center; /* Align icon and text */
  color: #fff; /* Set text color */
  text-decoration: none; /* Remove underline */
}

.contact-item img {
  width: 24px; /* Adjust icon size */
  height: auto; /* Keep proportions */
  margin-right: 20px;
}
