.navbar {
    background-color: #100806;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: none;
}

.logo {
    height: 50px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #ffcc00;
}

.searchBar {
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.searchBar input {
    border: none;
    outline: none;
    padding: 5px;
}

.searchBar input:focus {
    border: 0px solid #000; 
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.searchBar i {
    color: #000;
}

.nav a.active {
    color: #ffcc00;
    font-weight: bold;
}

/* Media Queries untuk tampilan mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .nav a {
        font-size: 14px;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
        justify-content: space-between;
    }

    .logo {
        height: 40px;
    }
}
