.footer {
    background-image: url('/img/Background.png'); /* Make sure the correct path is used */
    background-color: #000;
    background-size: cover; /* Ensures the background image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
}
  
.contact {
    display: flex;
    align-items: center;
}
  
.contact img {
    height: 50px;
    margin-right: 10px;
}
  
.socialIcons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
  
.socialIcons a {
    color: #fff;
    font-size: 20px;
    margin: 0 3px;
}
  
.socialIcons img {
    width: 30px;
    height: auto;
    transition: transform 0.3s;
}

.socialIcons img:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ffcc00;
}
  
.certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.certImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}
  
.certImages img {
    height: 50px;
}
  
.qrCode img {
    height: 100px;
    margin-top: 10px;
}
