/* Pastikan body dan html mengambil 100% tinggi halaman */
html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Pastikan elemen yang lain juga menggunakan flexbox */
  main {
    flex: 1; /* Membuat bagian konten fleksibel */
  }
  